    /*
    Flaticon icon font: Flaticon
    Creation date: 14/02/2022 18:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-user:before { content: "\f100"; }
.flaticon-turn-off:before { content: "\f101"; }
.flaticon-chat-comment-oval-speech-bubble-with-text-lines:before { content: "\f102"; }
.flaticon-list:before { content: "\f103"; }
.flaticon-settings-work-tool:before { content: "\f104"; }
.flaticon-gear-loading:before { content: "\f105"; }
.flaticon-back:before { content: "\f106"; }
.flaticon-next:before { content: "\f107"; }
.flaticon-down-arrow:before { content: "\f108"; }
.flaticon-back-1:before { content: "\f109"; }
.flaticon-next-1:before { content: "\f10a"; }
.flaticon-upload:before { content: "\f10b"; }
.flaticon-download:before { content: "\f10c"; }
.flaticon-arrow:before { content: "\f10d"; }
.flaticon-up-arrow:before { content: "\f10e"; }
.flaticon-back-arrow-circular-symbol:before { content: "\f10f"; }
.flaticon-two-arrows-pointing-up:before { content: "\f110"; }
.flaticon-search:before { content: "\f111"; }
.flaticon-menu:before { content: "\f112"; }
.flaticon-dashboard:before { content: "\f113"; }
.flaticon-open-book:before { content: "\f114"; }
.flaticon-books:before { content: "\f115"; }
.flaticon-calendar:before { content: "\f116"; }
.flaticon-shopping-list:before { content: "\f117"; }
.flaticon-mortarboard:before { content: "\f118"; }
.flaticon-chat:before { content: "\f119"; }
.flaticon-planet-earth:before { content: "\f11a"; }
.flaticon-menu-1:before { content: "\f11b"; }
.flaticon-settings:before { content: "\f11c"; }
.flaticon-reload:before { content: "\f11d"; }
.flaticon-magnifying-glass:before { content: "\f11e"; }
.flaticon-ring:before { content: "\f11f"; }
.flaticon-classmates:before { content: "\f120"; }
.flaticon-multiple-users-silhouette:before { content: "\f121"; }
.flaticon-couple:before { content: "\f122"; }
.flaticon-bed:before { content: "\f123"; }
.flaticon-bus-side-view:before { content: "\f124"; }
.flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler:before { content: "\f125"; }
.flaticon-mail:before { content: "\f126"; }
.flaticon-technological:before { content: "\f127"; }
.flaticon-checklist:before { content: "\f128"; }
.flaticon-doctor:before { content: "\f129"; }
.flaticon-script:before { content: "\f12a"; }
.flaticon-money:before { content: "\f12b"; }
.flaticon-more-button-of-three-dots:before { content: "\f12c"; }
.flaticon-more-button-interface-symbol-of-three-horizontal-aligned-dots:before { content: "\f12d"; }
.flaticon-earth-globe:before { content: "\f12e"; }
.flaticon-percentage-discount:before { content: "\f12f"; }
    
    $font-Flaticon-user: "\f100";
    $font-Flaticon-turn-off: "\f101";
    $font-Flaticon-chat-comment-oval-speech-bubble-with-text-lines: "\f102";
    $font-Flaticon-list: "\f103";
    $font-Flaticon-settings-work-tool: "\f104";
    $font-Flaticon-gear-loading: "\f105";
    $font-Flaticon-back: "\f106";
    $font-Flaticon-next: "\f107";
    $font-Flaticon-down-arrow: "\f108";
    $font-Flaticon-back-1: "\f109";
    $font-Flaticon-next-1: "\f10a";
    $font-Flaticon-upload: "\f10b";
    $font-Flaticon-download: "\f10c";
    $font-Flaticon-arrow: "\f10d";
    $font-Flaticon-up-arrow: "\f10e";
    $font-Flaticon-back-arrow-circular-symbol: "\f10f";
    $font-Flaticon-two-arrows-pointing-up: "\f110";
    $font-Flaticon-search: "\f111";
    $font-Flaticon-menu: "\f112";
    $font-Flaticon-dashboard: "\f113";
    $font-Flaticon-open-book: "\f114";
    $font-Flaticon-books: "\f115";
    $font-Flaticon-calendar: "\f116";
    $font-Flaticon-shopping-list: "\f117";
    $font-Flaticon-mortarboard: "\f118";
    $font-Flaticon-chat: "\f119";
    $font-Flaticon-planet-earth: "\f11a";
    $font-Flaticon-menu-1: "\f11b";
    $font-Flaticon-settings: "\f11c";
    $font-Flaticon-reload: "\f11d";
    $font-Flaticon-magnifying-glass: "\f11e";
    $font-Flaticon-ring: "\f11f";
    $font-Flaticon-classmates: "\f120";
    $font-Flaticon-multiple-users-silhouette: "\f121";
    $font-Flaticon-couple: "\f122";
    $font-Flaticon-bed: "\f123";
    $font-Flaticon-bus-side-view: "\f124";
    $font-Flaticon-maths-class-materials-cross-of-a-pencil-and-a-ruler: "\f125";
    $font-Flaticon-mail: "\f126";
    $font-Flaticon-technological: "\f127";
    $font-Flaticon-checklist: "\f128";
    $font-Flaticon-doctor: "\f129";
    $font-Flaticon-script: "\f12a";
    $font-Flaticon-money: "\f12b";
    $font-Flaticon-more-button-of-three-dots: "\f12c";
    $font-Flaticon-more-button-interface-symbol-of-three-horizontal-aligned-dots: "\f12d";
    $font-Flaticon-earth-globe: "\f12e";
    $font-Flaticon-percentage-discount: "\f12f";